* {
     margin: 0;
     padding: 0;
}
body {
     background-color: #e9d7d7;
     background-image: url(../images/background-simplon.svg);
     background-size: cover;
}

#mainDiv {
     display: flex;
     align-items: center;
}

nav {
     width: 6%;
     height: 100%;
     background-color: #2a2a2a;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     animation: nav;
     animation-duration: 2s;
     overflow: hidden;
     min-width: 107px;
}

.navItem h1 {
     font-size: 70px;
     font-family: "Bahnschrift";
     color: rgb(182, 182, 182);
     text-decoration: underline;
     line-height: 1;
     text-align: center;
}
.navItem h6 {
     font-size: 20px;
     font-family: "Bahnschrift";
     color: rgb(182, 182, 182);
     line-height: 1;
     text-align: center;
}

.navItem {
     border-width: 2px;
     border-color: rgb(255, 255, 255);
     border-style: solid;
     border-radius: 5px;
     background-color: rgba(0, 0, 0, 0.302);
     padding: 5px;
     width: 90%;
     margin-left: auto;
     margin-right: auto;
}

.navItem:hover {
     animation: vibe infinite;
     animation-duration: 1s;
}

.activeItem h1 {
     font-size: 70px;
     font-family: "Bahnschrift";
     color: rgb(142, 2, 2);
     font-weight: bold;
     text-decoration: underline;
     line-height: 1;
     text-align: center;
}

.activeItem h6 {
     font-size: 20px;
     font-family: "Bahnschrift";
     color: rgb(142, 2, 2);
     font-weight: bold;
     line-height: 1;
     text-align: center;
}

.activeItem {
     background-color: rgb(219, 183, 183);
     width: 100%;
     border: none;
     border-radius: inherit;
     padding: 5px;
     animation: activeItem;
     animation-duration: 1s;
     background-color: rgb(219, 183, 183);
     width: 100%;
     border: none;
     border-radius: inherit;
     padding: 5px;
}

@keyframes nav {
     0% {
          width: 0%;
     }

     100% {
          width: 6%;
     }
}
@keyframes activeItem {
     0% {
          border-width: 2px;
          border-color: rgb(255, 255, 255);
          border-style: solid;
          border-radius: 5px;
          background-color: rgba(0, 0, 0, 0.302);
          padding: 5px;
          width: 90%;
          margin-left: auto;
          margin-right: auto;
     }

     100% {
          background-color: rgb(219, 183, 183);
          width: 100%;
          border: none;
          border-radius: inherit;
          padding: 5px;
          background-color: rgb(219, 183, 183);
          width: 100%;
          border: none;
          border-radius: inherit;
          padding: 5px;
     }
}

#info {
     width: 100%;
     height: 100%;
}

#page {
     width: 100%;
     height: 100%;
}

@keyframes vibe {
     0% {
          transform: rotate(0deg);
     }
     25% {
          transform: rotate(5deg);
     }
     50% {
          transform: rotate(-5deg);
     }
     100% {
          transform: rotate(0deg);
     }
}
